#window_root {
    flex: 1 0 auto;
    flex-direction: column;

    background-color: var(--background-color);
    
    --primary-color: #6200EE;
    --primary-variant: #3700B3;
    --secondary-color: #03dac6;
    --secondary-variant: #018786;

    --background-color: #192626;
    --surface-color: #eaeaea;
    --surface-variant: #cbcbcb;
    --error-color: #B00020;

    --on-primary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #000000;
}

.buttonlist {
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    
    padding: 0 0;
    
    margin-top: 0;
    margin-bottom: 2px;
    
    background-color: var(--surface-variant);
}

.button {
    font-size: 12px;
    padding: 0 10px;
    margin: 1px 2px;
    
    background-color: var(--surface-color);
    
    border-width: 1px;
    border-color: var(--primary-variant);

    border-radius: 1px;
}

.button:hover{
    border-color: var(--secondary-color);
}

.button:active {
    background-color: var(--surface-variant);
}

.tablist {
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: flex-start;
    
    border-bottom-width: 1px;
    border-bottom-color: var(--surface-color);
    color: var(--primary-color)
}

.tab {
    font-size: 12px;
    padding: 5px 30px;
    
    background-color: var(--surface-color);
    color: var(--primary-color);
    
    border-bottom-width: 2px;
    border-bottom-color: transparent;
}

.tab.selected {
    border-bottom-color: var(--primary-variant);
}

.stream {
    flex-direction: column;

    background-color: var(--surface-color);
    padding: 2px 2px;

    border-width: 2px;
    border-color: var(--primary-variant);
}

.stream__container {
    flex: 1 0 auto;
}

.stream__row {
    flex-direction: row;

    flex-grow: 1;
    
    align-content: center;

    border-bottom-color: var(--primary-variant);
    border-bottom-width: 1px;

    background-color: var(--surface-color);
    color: var(--primary-color);
}

.status {
    width: 10%;
    flex: 0 1 auto;
    justify-content: center;
    align-content: center;
}

.time {
    width: 10%;
    flex: 0 1 auto;
    justify-content: center;
    align-content: center;
}

.data{
    width: 80%;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
    align-content: center;
    
    border-width: 0 2px;
    border-color: var(--primary-variant);
    
}